.advertisement {
  display: none;
  height: 35vh;
  background-image: url(../../../dist/minified/assets/advertisement/advertisement.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
}
