.analytics {
  display: flex;
  justify-content: center;

  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;

  .analytics__economics {
    border: 1px solid var(--color-grey-light-4);
    border-radius: 5px;
    width: 100%;

    .analytics__currency {
      display: flex;
      justify-content: space-between;
      padding: 2rem 1rem;

      .analytics__finance {
        &:hover {
          @extend %hover;
          filter: brightness(120%);
        }

        .analytics__h6 {
          color: var(--color-grey-dark-3);
          font-size: 1.2rem;
          border-bottom: 1px solid var(--color-grey-light-4);
        }

        .analytics__value {
          display: flex;
          justify-content: center;
          color: var(--color-green-text);
          padding: 4px;

          .analytics__icon {
            font-size: 2.5rem;
          }

          .analytics__number {
            font-size: 4rem;
          }

          .analytics__percent {
            font-size: 1.8rem;
          }
        }

        .analytics__points {
          font-size: 1.1rem;
          color: var(--color-grey-dark-1);
        }
      }

      .analytics__currencies {
        display: table;
        border-collapse: collapse;
        border-spacing: 1px;
        margin-top: 2px;
        color: var(--color-grey-dark-3);

        .analytics__thead {
          display: table-header-group;
          vertical-align: middle;

          .analytics__tr {
            display: table-row;
            vertical-align: initial;

            .analytics__currencies--left,
            .analytics__currencies--right {
              font-size: 1.2rem;
              border-bottom: 1px solid var(--color-grey-light-4);
            }

            .analytics__currencies--left {
              text-align: initial;
            }

            .analytics__currencies--right {
              text-align: end;
            }
          }
        }

        .analytics__tbody {
          display: table-row-group;
          vertical-align: middle;

          .analytics__tr {
            display: table-row;
            vertical-align: initial;

            .analytics__tr-coin {
              display: table-cell;
              font-size: 1.3rem;
              color: #666;
              padding: 1rem 1rem 1rem 0;
            }

            .analytics__tr-value {
              display: table-cell;
              font-size: 1.2rem;
              color: var(--color-grey-dark-1);
              padding: 1rem 0 1rem 1rem;
            }
          }
        }
      }
    }
  }

  .analytics__schedule {
    display: none;
    width: 33.33%;
    border: 1px solid var(--color-grey-light-4);
    border-radius: 5px;

    .analytics__schedule-h6 {
      color: var(--color-grey-dark-3);
      font-size: 1.2rem;
      padding: 2rem 1.5rem;
    }

    .analytics__schedule-h4 {
      font-size: 1.8rem;
      padding: 0 18rem 2rem 1.5rem;
      margin-bottom: 3.1rem;

      &:hover {
        @extend %hover;
      }
    }
  }

  .analytics__schedule--ge {
    margin: 0 2rem;
    color: var(--color-green-text);
  }

  .analytics__schedule--gshow {
    color: var(--color-orange-text);
  }

  .analytics__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    border-top: 1px solid var(--color-grey-light-4);

    .analytics__span {
      font-size: 1.2rem;
      color: var(--color-grey-dark-1);
    }
  }
}
